<div class="col-md-11 mt-3" style="cursor: pointer;max-height: min-content;" (click)="handleCategoryClickForDetails()" >
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{category.label}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="getCategoryImage(category.id)" alt="Photo of a Shiba Inu" class="rounded-4" width="auto"
            height="200px" style="padding: 10px;">
        <mat-card-content>

            <p style="font-size: 12px;" class="text-secondary">
                {{category.description}}
            </p>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-button style="color: red;">supprimer</button>
            <button mat-button>modifier</button>
        </mat-card-actions>
    </mat-card>
</div>
