<div class="container">
    <div class="row">
        <span class="d-flex justify-content-end">
            <button mat-raised-button (click)="navigateToAddCategory()" >Ajouter categorie</button>
        </span>
    </div>
    <div class="row gap-3">
        <div class="col-md-12 d-flex flex-row">
            
                @for (category of categories; track category.id) {
                    <app-categorie [category]="category"></app-categorie>
                }
           
        </div>
        
    </div>
</div>