<div class="container">
    <form [formGroup]="addBrandForm" (ngSubmit)="handleSubmit()">
        <div class="row">
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nom de la marque</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-2 mt-4">
                <button mat-flat-button type="submit">Ajouter marque</button>
            </div>
        </div>
    </form>
    <div class="row">
        @for (brand of brands; track $index) {
        <app-brand (itemDeleted)="deleteBrandWithIdAndUpdateTheUI($event)" [brand]="brand"></app-brand>
        }
    </div>
</div>