<div class="container">
  <div class="row row-gap-3 column-gap-3">
    <div class="col-md p-3  text-success rounded-4" style="background-color: rgba(58,250,41,0.13);">
      <img ngSrc="/images/img.png" width="40" height="40" alt="image ici">
      10 commandes non traitees
    </div>
    <div class="col-md  p-3 rounded-4 " style="background-color: rgba(255,7,7,0.13);">
      <img ngSrc="/images/img_1.png" width="40" height="40" alt="image ici">
      <span class="fw-bold  text-danger"> 20 produits en rupture de stock</span>
    </div>
    <div class="col-md  p-3 rounded-4 " style="background-color: rgba(2,113,246,0.13);">
      <img ngSrc="/images/img_2.png" width="40" height="40" alt="image ici">

      <span class="fw-bold text-primary"> +50 utilisateurs dernier mois</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md bg-white mt-3 rounded-4">
      <div class="row d-flex justify-content-center mt-3 p-2">
        <h6>Produits les plus vendus en ce mois</h6>
      </div>
      <ngx-charts-bar-vertical-2d [view]="[800,500]" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis"
                                  [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                  [showYAxisLabel]="showYAxisLabel"
                                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle"
                                  (select)="onSelect($event)"
                                  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d>
    </div>

  </div>
</div>
